html * {
  font-family: Arial;
  margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:rgb(231, 231, 231);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.btn {
  height: 40px;
	width: 150px;
	border-radius: 50px;
	background-color: transparent;
	font-size: 22px;
	color:#2c6487;
	border:#f4b31a solid 2px;
}
.btn-outline {
  color: rgb(153, 217, 234);
  border: 1px solid rgb(153, 217, 234);
  background: rgb(63, 73, 204);
}
.btn-primary {
  background: rgb(153, 217, 234);
  color: rgb(0, 24, 111);
}
.btn-secondary:hover {
  cursor: pointer;
	color:white;
  background-color: #2c6487;
}