.messenger {
    height: calc(107vh - 70px);
    display: flex;
    background-color:rgb(231, 231, 231) ;
  }
  
  .chatMenu {
    flex: 3.2;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 5.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
  }
  .chatMessageInput1 {
    width: 50%;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .chatSubmitButton {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    margin-top: 10px;
  }

 .chatSubmitButton1{
  margin-top: 10px;
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

  .chatSubmitButton2 {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    
  }

  .chatSubmitButton4{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    margin-top: 20px;
    
  }
  
  .chatOnline {
    flex: 3;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    position: absolute;
    top: 5%;
    font-size: 40px;
    color: teal;
    cursor: default;
   
  }

  .noConversationText1 {
    
    top: 5%;
    font-size: 20px;
    color: teal;
    cursor: default;
   
  }

  h2{
    color:teal;
    margin-top: 20px;
    
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }